# Auto detect text files and perform LF normalization
* text=auto

*.zip filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
"Incremental Capstones/Deep Learning Specialization/Capstone Session 10/data/**/*.png" filter=lfs diff=lfs merge=lfs -text
"Incremental Capstones/Deep Learning Specialization/Capstone Session 10/data/**/*.jpg" filter=lfs diff=lfs merge=lfs -text
"Incremental Capstones/Deep Learning Specialization/Capstone Session 10/data/**/*.jpeg" filter=lfs diff=lfs merge=lfs -text
